@font-face{
    src: url(ttf/Montserrat-Regular.ttf);
    font-family: 'Montserrat';
 }

@font-face{
    src: url(ttf/Montserrat-SemiBold.ttf);
    font-family: 'MontserratSB';
 }

 @font-face{
    src: url(ttf/Montserrat-Bold.ttf);
    font-family: 'MontserratB';
 }

 @font-face{
    src: url(ttf/Montserrat-Italic.ttf);
    font-family: 'MontserratI';
 }

 body{
    max-width: 1200px;
    margin: 0;
}

main{
    margin: 0 0 60px 0;
}


/*HEADER*/

.line{
    width: 100%;
    border-bottom: 1px solid #DEDEDE;
}

.header{                                             
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    font-family: MontserratSB;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    width:100vw;
    flex-shrink: 0;    
    height: 76px;
    border-bottom: 1px solid #EFF5FB;
    padding: 0 32px;
}

#logo{                                      /*логотип*/
    display: flex;
    justify-content: center;
}

#arrowdown{
    display: flex;
    justify-content: center;
}

.header__bread{
    padding: 15px 32px;
    margin: 0;
}


ul.header__bread li{                        /*хлебные крошки*/
    display: inline;
} 

ul.header__bread li, a {
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: rgba(51, 51, 51, 0.70);
    text-decoration: none;
    line-height: 18px; /* 150% */
    letter-spacing: 0.25px;
    color: rgba(51, 51, 51, 0.70);
    text-align: center;
}

ul.header__bread li+li:before {
    padding: 8px;
    color: black;
    content: ">";
}

ul.header__bread li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.header__find{                              /*кнопка найти психолога*/
    justify-self: flex-end;
    width: 230px;
    height: 48px;
    background-color: #E3F5F5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    opacity: 0.8;
}

.header__find:hover{
    opacity: 1.0;
}

.header__find > a{
    display:block;
    text-align: center;
    width: 230px;
    height: 48px;
    color: #03B2A5;
    font-family: MontserratSB;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    line-height: 48px;
}

.header__burger {                           /*кнопка бургер-меню отключена по умолчанию*/
    display: none;
    border: none;
    margin-left:auto;
}

button.burger_icon {
    border: none;
    width:40px;
    height: 40px;
    background-color: white;
}

button.burger_icon:hover {
    border: 1px solid #03B2A5;
}

.header__menu{
    display: inline-flex;
    align-items: flex-start;
    padding: 0 20px 0 32px;
    gap: 17.7px;
    box-sizing: border-box;
}

.header__menu a {      
    box-sizing: border-box;                         /*меню*/
    display: inline-flex;
    align-items: flex-start;
    color: #000000;
    text-decoration: none;
    color: var(--text-primary, #333);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 114%; /* 15.96px */
    letter-spacing: 0.25px;
 }

.header__menu a:hover{
    text-decoration-line: underline;
    color: #4957c1;
  }

 /*MAIN*/ 

 #title{
    font-family: MontserratB;
    font-weight: 700;
    font-size: 48px;
    color:#333333;
    padding: 0 32px;
    line-height: 56px;
    margin-top: 25px;
}

.hero{
    display: grid ;
    max-width: 1200px;
    box-sizing: border-box;
    grid-template-columns: repeat(6, 1fr); 
    /* grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));  */
    gap: 24px;
    padding: 0 32px;
    
}

.hero__element{
    position:relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    border-radius: 9px;
    justify-content: space-between;
}

.hero__text{
    display: flex;
    flex-direction: column;
    margin: 13px 0px 14px 16px;
}

.hero__element h4{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
	color:#868686;
    margin-top:auto;
    padding-left: 13px;
} 

.hero__element h3{
    color: #494949;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    margin: 3px 0 0 0;
}

.hero__element h2{
    color: var(--text-primary, #333);
    font-family: MontserratSB;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.25px;
    margin: 0;
 }

.hero__element p{
    color: var(--text-primary, #333);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    align-self: stretch;
    margin: 7px 0;
    padding-right: 5%;
}

.hero__tags{                                  /*линейка тэгов над карточками*/
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    flex-wrap: wrap;
    white-space: nowrap;
    grid-column: 1 / 7;
    grid-row: 1 / 2;
}
 
.hero__tags a{
    display: inline-flex;
    justify-content: center;
    align-items: center;   
    border: 1px solid #C1C5CD;
    border-radius: 24px;
    padding: 5px 8px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color:#333333;
    /* letter-spacing: 0.25px; */
}

.hero__tags_position-inside{                /*тэги в карточках*/
    position: absolute;
    top: 8px;
    left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: flex-start;
}

 .hero__tags_position-inside a{
    background-color:rgba(255, 255, 255, 0.70) ;
} 

a#select{                                     /*выделенный тэг*/
    border-radius: 24px;
    border: 2px solid #16C8BB;
    background: #F9FDFD;
    padding: 4px 8px;
}

.hero__tags img{                            /* иконки тэгов*/
    display: inline-flex;
    width: 18px;
    height: 18px;
    padding: 1px;
    justify-content: center;
    align-items: center;   
}

.hero__img{
    box-sizing: border-box;
    width: 100%;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.hero__left{                                  /* настройка grid*/
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.hero__right{
    grid-column: 4 / 7;
    grid-row: 2 / 3;
}

.hero__upleft{
    grid-column: 1 / 3;
    grid-row: 3 / 4;   
}

.hero__upcenter{
    grid-column: 3 / 5;
    grid-row: 3 / 4;
        
}

.hero__upright{
    grid-column: 5 / 7;
    grid-row: 3 / 4;
}


.hero__downleft{
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}

.hero__downcenter{
    grid-column: 3 / 5;
    grid-row: 4 / 5;
}

.hero__downright{
    grid-column: 5 / 7;
    grid-row: 4 / 5;
}



.line1{
    width: 100%;
    border: 1px solid #E8E8E8;
    margin: 0;
}

.hero__seemore{
    width: 182px;
    height: 48px;
    background-color: #35B3A9;
    margin: 50px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    opacity: 0.8;
}

.hero__seemore:hover{
    opacity: 1.0;
}

.hero__seemore > a{
    display:block;
    text-align: center;
    width: 182px;
    height: 48px;
    color: #FFFFFF;
    font-family: MontserratSB;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    line-height: 48px;
}

.link a{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    top:0%;
    left:0%;
}

.link a:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

/*СТАТЬЯ*/

.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: flex-start;
    align-items: flex-start;
    max-width: 1200px;
}

.article{
    box-sizing: border-box;
    max-width: 714px;
    width:100%;
    margin-left: 32px;
}
.article h1{
    overflow: hidden;
    color: var(--text-primary, #333);
    text-overflow: ellipsis;
    font-family: MontserratSB;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-align: start;
    max-width: 93%;
    margin: 40px 0 0 0;
}

#authtor {
    color: #494949;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 24px;
}



.article h2{
    font-family: MontserratSB;
    font-size: 16px;
    font-weight: 500;
}

.article h3{
    font-family: MontserratSB;
    font-weight: 700;
	font-size: 24px;
	color:#333333;
}

.article p, li{
    font-family: Montserrat;
    font-weight: 500;
	font-size: 16px;
	color:#333333;
}

.article img{
    width: 100%;
    object-fit: cover;
    max-height: 331px;
}

.toc h2{                                /*содержание*/
    font-family: MontserratSB;
    font-weight: 500;
	font-size: 16px;
	color:#333333;
}

.toc li{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color:#333333;
    text-decoration: underline;
}

.toc__under {
    list-style-type: none;
}

li::marker{
    color:#03B2A5;
}

.article__quote{                        /*цитата*/
    background-color: #F3F7FE;
    border-radius: 16px;
    padding: 24px;
}

.article__quote p{
    font-family: MontserratI;
    font-size: 16px;
    font-weight: 400;
}

.article h4{
    color: #868686;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    letter-spacing: 0.25px;
}

.article__highlight{                    /*избранное*/
    position: relative;
    padding: 30px 10%;
    text-align: center;
}
.article__highlight p{
    font-family: MontserratI;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

#cloud1 {
    position:absolute;
    z-index: -1;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%); 
}

#cloud2 {
    position:absolute;
    z-index: -1;
    top:300%;
    right:0;
}

#cloud3 {
    position:absolute;
    z-index: -1;
    top:600%;
    right:0;
}

.article__leftimg{                      /* картинка рядом с текстом*/
    display: flex;
    flex-direction: row;
    min-width: 288px;
    flex-wrap: wrap;   
}

.article__leftimg img{
    max-width: 45%;
    margin-right: 10px;
}

.article__leftimg p{
    margin-top: 5px;
    max-width: 45%;
    
}

.article__sideimg{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    min-width: 288px;
    flex-wrap: wrap;
}

.article__upimg:first-child{
    margin-right: 10px;
}

.article__upimg{                        /*две картинки рядом*/
    display: flex;
    flex-direction: column;
    margin-right: 0;
    max-width: 49%;
    min-width: 288px;
}

.article__upimg p{
    margin-top:10px;
    max-width: 100%;
}

.article__exersize{
    border-radius: 16px;
    padding: 24px;
    margin: 15px 0;
}

.exe1{                                  /* упражнения */
    background-color: #FEFAEC;
}

.exe2{
    background-color: #FFF3EB;
}

.exe3{
    background-color: #03B2A51A;
}

.article__tags{                         /*тэги под статьей*/
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    font-family: MontserratSB;
    font-weight: 500;
    font-size: 14px;
}

.a__tag{
    padding: 0 8px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color:#2963A3;
}

.article__searchpsy{                      /*поиск психолога*/
    display: flex;
    position: relative;
    height: 369px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
}

.article__searchpsy_text{
    width:348px;
}

 .article__searchpsy img{
    position: absolute;
    height: 330px;
    top: 0;
    left: 700px;
} 

.article__searchpsy h3{               
    font-family: MontserratSB;
    font-weight: 700;
	font-size: 24px;
	color:#333333;
}

.article__searchpsy p{
    font-family: Montserrat;
    font-weight: 500;
	font-size: 16px;
	color:#333333;
}

 #cloud {
    width:462px;
} 

.article__sidebar{                /*сайдбар*/
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    max-width: 222px;
    flex-grow: 1;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 16px;
    gap: 16px;
}

.article__sidebar_card_first{ 
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 1px solid #DEDEDE; 
    background-color: #E6F0FD;
    padding: 20px;
    max-width: 288px;
    flex-grow: 1;
}

.article__sidebar_card_first h2{
    color: var(--text-primary, #333);
    text-align: center;
    font-family: MontserratB;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
}

.article__sidebar_card_first p{
    color: var(--text-primary, #333);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    align-self: stretch; 
}

.sidebar__more, .sidebar__buy{
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 4px;
    background: var(--primary-400, #35B3A9);
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
}

.article__sidebar_card_second{
    position: relative; 
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 1px solid #DEDEDE;
    padding: 20px;
    max-width: 288px;
    flex-grow: 1;
    
}

.article__sidebar_card_second *{ 
    margin: 5px;
}

.article__sidebar_card_second h2{
    color: var(--text-primary, #333);
    text-align: center;
    font-family: MontserratB;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.article__sidebar_card_second h3{
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600; 
}
.article__sidebar_card_second p{
    color: var(--neutrals-n-66, #A2A7B1);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    max-width: 288px;
}

.article__sidebar li{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color:#333333;
    padding-left: 5px;
}

 .sidebar__tags{                
    position: absolute;
    white-space: nowrap;
    top: 4px;
    left: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: flex-start;
}

 .sidebar__tags p{
    color: #333333;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;   
    border: none;
    border-radius: 24px;
    padding: 0px 10px;
    margin: 1px 5px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    /* text-align: center; */
    color:#333333;
    width: fit-content;
    letter-spacing: 0.25px; 
    border-radius: 6px;
    background: rgba(243, 244, 248, 0.70);
}  

.article__sidebar_card_third{
    position: relative; 
    min-height: 280px;
    border-radius: 16px;
    background-color: #2963A3; 
    background-image: url(png/Fireworks.png) ;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #DEDEDE;
    padding: 20px;
    max-width: 288px;
    flex-grow: 1;
}

#img_fireworks{
    position: absolute;
    width: 100%;
    top:0;
    left:0;
    }

#img_presents{
    position: absolute;
    width: 100%;
    bottom: 0px;
    right: 0px;
    padding-bottom: 0px;
    
}

.article__sidebar_card_third h1{
    color: #FFF;
    text-align: center;
    font-family: MontserratSB;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 125% */
}
.article__sidebar_card_fourth{
    position: relative; 
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    border-radius: 16px;
    border: 1px solid #DEDEDE;
    /* background: #FFF; */
    padding: 20px;
    max-width: 288px;
    flex-grow: 1;
}

.article__sidebar_card_fourth h1{
    color: #2963A3;
    font-family: MontserratSB;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 144.444% */
}

.article__sidebar_card_fourth p{
    color: var(--primery-b-10, #011632);
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.article__sidebar_card_fourth h2{
    color: #333;
    font-family: MontserratSB;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
}

#boxes{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 0px;
    width: 100%;
    z-index: -1;
}

/* .sidebar__buy{
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 4px;
    background: var(--primary-400, #35B3A9);
    color: #FFF;
    text-align: center;
    font-family: MontserratSB;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    width: 108px;
} */




/*FOOTER*/

.foot{
    background-color:#2963A3;
    color: white;
    width: 100vw;
    /* margin-left: -17px;     */
}

.foot__wrap{                            /*обертка*/
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:flex-start;
    margin: 0 26px 0 38px;
    padding: 25px 0 0 0;
}

.foot__menu{                            /*меню*/
    display:flex;
    flex-direction: row;
    gap: 30px;
    /* max-width: 30%; */
    flex-grow: 0;
    margin-right: 15px;
 }

 .foot__menu ul{
    padding-left: 0px;
}

.foot__menu li{
    color: #FFFFFF;
    font-family: MontserratSB;
    font-weight: 500;
    font-size: 16px;
    list-style-type: none;
    line-height: 24px;
    margin-bottom:16px;
}

.foot__subs-wrap{                            /*подписка*/
    display:flex;
    flex-direction:column;
    padding-left: 10px;
    font-family: MontserratSB;
    font-weight: 500;
    font-size: 16px;
    max-width: 40%;
    width:fit-content;
    margin-right: 10px;    
}

.foot__subs{
    display:flex;
    flex-direction:row;
}

.foot__subs-form{
    width:320px;
    height:48px;
    box-sizing: border-box;
    align-self: flex-start;
    border-radius: 4px;
    border: 1px solid rgba(157, 157, 157, 0.20);
    background: #FFF;
}

.foot__subs-wrap h4{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
}

.foot__subs-button{
    width:64px;
    height:48px;
    border: 0;
    opacity: 0.8;
    border-radius: 4px;
    background: #16C8BB;
    flex-shrink: 0; 
}

.foot__subs-button:hover{
    opacity: 1.0;
    cursor: pointer;
}

.foot__social{
    margin: 0 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.foot__social-icons{
    opacity: 0.4;
    padding: 20px 12px 0 0;
 }

.foot__social-icons:hover{
    opacity: 1.0;
 }

.foot__credits{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-self: flex-end;
    border-top: 1px solid rgba(157, 157, 157, 0.3);
    margin: 0 32px;
}
.foot__credits a{
    padding: 0 48px 0 0;
    margin: 10px 0 10px 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    opacity: 0.7;
}

/*Медиа-запросы*/

/* общие правила для экранов меньше 1023 пикселей */
@media (max-width:1023px) {
   
    .article__sidebar {                                /*боковая панель уходит вниз*/
        max-width: 690px;
        justify-content: space-between;
        margin-top: 50px;
        margin-left: 32px;
        margin-right: 20px;
    }
    .article__sidebar img{
        padding-bottom: 25px;
    }

    .article__sidebar_card_first{
        max-width: calc(50% - 8px);
    }

    .article__sidebar_card_second{
        max-width: calc(50% - 8px);
     }

    .article__sidebar_card_third{
        max-width: calc(50% - 8px);
     }

    .article__sidebar_card_fourth{
        max-width: calc(50% - 8px);
    }

    .article__searchpsy {                       /*убираем кнопку найти психолога*/
        display:none;
    }

    .toc__under {                               /*убираем подзаголовки в меню*/
        display: none;
    }

    #cloud2, #cloud3 {                          /*убираем изображения облаков*/
        display: none;
    }
}

/*общие правила для экранов меньше 1024 пикселя*/

@media (max-width:1023px) {
    .header__menu {                             /*убираем меню*/
        display: none;
    }

    .header__find {                             /*убираем кнопку поиска психолога*/
        display: none;
    }

    .header__burger{                            /*отображаем кнопку бургер-меню*/
        display: block;
    } 
}

/* для экранов от 769 до 1023 пикселей */
@media (min-width:769px) and (max-width:1023px) {
    
    .hero__left{                                  /* настраиваем grid*/
        grid-column: 1 / 7;
        grid-row: 2 / 3;
    }
    
    .hero__right{
        grid-column: 1 / 7;
        grid-row: 3 / 4;
    }

    .hero__upleft{
        grid-column: 1 / 4;
        grid-row: 5 / 6;   
    }
    
    .hero__upcenter{
        grid-column: 4 / 7;
        grid-row: 5 / 6;
    }
    
    .hero__upright{
        grid-column: 1 / 4;
        grid-row: 6 / 7;
    }   
    
    .hero__downleft{
        grid-column: 4 / 7;
        grid-row: 6 / 7;
    }
    
    .hero__downcenter{
        grid-column: 1 / 4;
        grid-row: 7 / 8;
    }
    
    .hero__downright{
        grid-column: 4 / 7;
        grid-row: 7 / 8;
    }
        
    .foot__social{
        margin:0;
    }
} 

/*общие правила для экранов менее 769 пикселей*/
@media (max-width:768px) { 
    .hero__tags{
    flex-wrap: nowrap;
    }
   
    .hero__left{                                  /*настройка grid*/
    grid-column: 1 / 7;
    grid-row: 2 / 3;
    }

    .hero__right{
    grid-column: 1 / 7;
    grid-row: 3 / 4;
    }

    .hero__upleft{
    grid-column: 1 / 7;
    grid-row: 5 / 6;   
    }

    .hero__upcenter{
    grid-column: 1 / 7;
    grid-row: 6 / 7;
    }

    .hero__upright{
    grid-column: 1 / 7;
    grid-row: 7 / 8;
    }


    .hero__downleft{
    grid-column: 1 / 7;
    grid-row: 8 / 9;
    }

    .hero__downcenter{
    grid-column: 1 / 7;
    grid-row: 9 / 10;
    }

    .hero__downright{
    grid-column: 1 / 7;
    grid-row: 10 / 11;
    }

}

/*общие правила для экранов менее 650 пикселей*/
@media (max-width:649px) { 

     .article__sidebar_card_first{
        max-width: none;
    }

    .article__sidebar_card_second{
        max-width: none;
     }

    .article__sidebar_card_third{
        max-width: none;
     }

    .article__sidebar_card_fourth{
        max-width: none;
    } 
}  

/* для экранов от 414 до 768 пикселей */ 
@media (min-width:414px) and (max-width:768px) {
    .article{
        box-sizing: border-box;
        width:calc(100vw - 40px);
        margin-left: 20px;
        margin-right: 20px;
    }
    
    #title, .article h1 {                                        /* уменьшаем шрифт заголовка*/
        font-size: 32px;
        line-height: 40px;
    }

    .article__leftimg img {                     /* перенос текста, расположенного сбоку от картинки, под нее*/
        max-width: 100%;
    }

    .article__upimg img {
        max-width: 100%;
    }

    .article__leftimg p {
        max-width: 100%;
    }

    .article__upimg{                            /* перенос двух картинок, расположенных рядом*/
        max-width: 100%;
    }

    .article__upimg img {
        max-width: 100%;
    }

    .article__upimg p{
        max-width: 100%;
    }

    .article__sideimg{
        max-width: 100%;
    }
    .foot__wrap{
        margin-left: 18px;
        margin-right: 14px;
    }

    .foot__menu{                                /*вид меню в футере*/
        max-width: 100%;
        justify-content: space-around;
    }

    .foot__menu ul:nth-child(2){
        margin-left: 100px;
    }

    /* .foot__subs-button{                              /*убираем кнопку подписки на рассылку
        display: none;
    } */

    .foot__subs-form{
        width:calc(100vw - 40px - 64px);
    }

    .foot__subs-wrap{
        max-width: 100%;
        padding:0;
    }

    .foot__social{
        margin:0;
    }
}   

/* для экранов меньше 414 пикселей */
 @media (max-width:413px) {
    .article{
        box-sizing: border-box;
        width:calc(100vw - 32px);
        margin-left: 16px;
        margin-right: 16px;
    }
    
    #title, .article h1 {                                        /*уменьшаем шрифт заголовка в статье*/
        font-size: 24px;
        line-height: 32px;
    }
    .article__highlight {                       /*вид блока с выделенным текстом*/
        padding: 20px 5%;
    }
    .article__leftimg img {                     /*перенос текста, расположенного сбоку от картинки, под нее*/
        max-width: 100%;
    }

    .article__upimg img {
        max-width: 100%;
    }

    .article__leftimg p {
        max-width: 100%;
    }

    .article__upimg{
        max-width: 100%;
    }

    .article__upimg img{
        max-width: 100%;
    }

    .article__upimg p{
        max-width: 100%;
    }

    .article__sideimg{
        max-width: 100%;
    }

    .foot__wrap{
        margin-left: 18px;
        margin-right: 14px;
    }

    .foot__menu{                                /*вид меню в футере*/
        max-width: 100%;
        justify-content: space-around;
    }

    .foot__menu ul:nth-child(2){
        margin-left: 30px;
    }

    .foot__subs-button{                              /*убираем кнопку подписки на рассылку*/
        display: none;
    }

    .foot__subs-form{
        width:268px;
    }

    .foot__subs-wrap{
        max-width: 100%;
    }

    .foot__social{
        margin:0;
    }
} 